{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <p>Name: {{service_provider.name}}</p>
        <p>Date Joined: {{service_provider.created.date}}</p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col">
        <h3>Properties Listed</h3>
    </div>
    {% if request.user.role != "admin" %}
    <div class="col">
        <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#newPopertyModal">New Property</a>
    </div>
    {% endif %}
</div>

<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
  
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Owner</th>
                <th scope="col">Type</th>
                <th scope="col">City</th>
                <th scope="col" colspan="3">Actions</th>
              </tr>
          </thead>
          <tbody>
            
            {% for property in properties %}
            <tr>
              <td>{{property.id}}</td>
              <td>{{property.name}}</td>
              <td>{{property.owner.name}}</td>
              <td>{{property.property_type}}</td>
              <td>{{property.city}}, {{property.country}}</td>
              <td><a href="{% url 'property-details' property.id %}" class="btn btn-info btn-sm">
                <i class="bi bi-eye"></i>
              </a></td>
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editPopertyModal{{ property.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
              <td><a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deletePropertyModal{{ property.id }}">
                <i class="bi bi-trash"></i>
              </a></td>
              
            </tr>
            {% include "properties/edit_property.html" %}
            {% include "properties/delete_property.html" %}
            
   
            {% endfor %}

          </tbody>
        </table>
      </div>
      <br>
      <div class="table-responsive small">
        <div class="row">
            <div class="col">
                <h3>Events Posted</h3>
            </div>
            {% if request.user.role != "admin" %}
            <div class="col">
                <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#newEventModal">Add An Event</a>
            </div>
            {% endif %}
        </div>
          <table class="table table-sm">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Owner</th>
                <th scope="col">Name</th>
                <th scope="col">Event Date</th>
                <th scope="col">Total Tickets</th>
                <th scope="col">Booked Tickets</th>
                <th scope="col">Pending Tickets</th>
                <th scope="col" colspan="3">Actions</th>
              </tr>
          </thead>
          <tbody>
            
            {% for event in events %}
            <tr>
              <td>{{event.id}}</td>
              <td>{{event.owner}}</td>
              <td>{{event.title}}</td>
              <td>{{event.event_date}}</td>
              <td>{{event.total_tickets}}</td>
              <td>{{event.booked_tickets}}</td>
              <td>{{event.pending_tickets}}</td>
            
              <td><a href="{% url 'event-details' event.id %}" class="btn btn-info btn-sm">
                <i class="bi bi-eye"></i>
              </a></td>
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editEventModal{{ event.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
              <td><a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteEventModal{{ event.id }}">
                <i class="bi bi-trash"></i>
              </a></td>
              
            </tr>
            
            {% include "events/edit_event.html" %}
            {% include "events/delete_event.html" %}

            {% endfor %}

         
        </table>
      </div>

      {% include "properties/rooms/new_room.html" %}

{% endblock content %}