{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Service Providers</h3>
    </div>
    
  
</div>
<hr/>
      <div class="table-responsive small">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
              <th scope="col">Gender</th>
              <th scope="col">Address</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in providers %}
            <tr>
              <td>{{user.id}}</td>
              <td>{{user.name}}</td>
              <td>{{user.phone_number}}</td>
              <td>{{user.email}}</td>
              <td>{{user.gender}}</td>
              <td>{{user.city}}, {{user.country}}</td>
              <td>
                <a href="#" class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i></a>
              </td>
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editServiceProviderModal{{ user.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
            </tr>

            {% include "service_providers/edit_service_provider.html" %}
          
            {% endfor %}

          </tbody>
        </table>
        <div>
      </div>
{% endblock content %}