<div class="modal fade" id="bookRoomModal{{room.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Reserve A Room</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'reserve-room' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">First Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="first_name"
                          name="first_name"
                          required
                        />
                      </div>
                      <div class="col">
                          <label for="exampleInputPassword1" class="form-label">Last Name</label>
                          <input
                            type="text"
                            class="form-control"
                            id="last_name"
                            name="last_name"
                            required
                          />
                        </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phone_number"
                          name="phone_number"
                          required
                        />
                      </div>
                      <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          required
                        />
                      </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">ID Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="id_number"
                          name="id_number"
                          required
                        />
                      </div>
                      <div class="col">
                        <label class="form-label">Gender</label>
                        <select class="form-select" id="gender" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
        
                          </select>
                      </div>
                </div>
                <h4 class="text-center mt-2">Room Details</h4>
                <hr>
                <div class="row mt-2">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Room</label>
                        <input
                          type="text"
                          class="form-control"
                          id="room"
                          name="room"
                          value="{{room.id}}"
                          readonly
                          required
                        />
                      </div>
                      <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Charge Per Night</label>
                        <input
                          type="number"
                          class="form-control"
                          id="charge_per_night"
                          name="charge_per_night"
                          value="{{room.charge_per_night}}"
                          readonly
                          required
                        />
                      </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Checkin Date</label>
                        <input
                          type="date"
                          class="form-control"
                          id="booked_from"
                          name="booked_from"
                          required
                          
                        />
                      </div>
                      <div class="col">
                        <label for="exampleInputPassword1" class="form-label">Checkout Date</label>
                        <input
                          type="date"
                          class="form-control"
                          id="booked_to"
                          name="booked_to"
                          required
                          
                        />
                      </div>
                </div>
                <div class="row mt-2">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Rooms to Reserve: </span>
                        <input type="number" class="form-control" id="rooms_booked" name="rooms_booked" min="0" max="{{room.rooms_count}}">
                        <span class="input-group-text">x {{room.charge_per_night}}</span>
                      </div>
                  </div>

                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>


<script>
    function calculateTotal() {
        // Get the values of regular and VIP tickets
        var rawCheckinDate = document.getElementById("booked_from").value;
        var rawCheckoutDate = document.getElementById("booked_to").value;

        console.log(`Checkin Date: ${rawCheckinDate}, Checkout Date: ${rawCheckoutDate}`)


        /*var checkinDate = new Date(document.getElementById('booked_from').value);
        var checkoutDate = new Date (document.getElementById('booked_to').value);
        var roomsCount = document.getElementById('rooms_booked').value;
        const chargePerNight = "{{room.charge_per_night}}"
        const roomId = "{{room.id}}"

        var bookingFeeURL = "/bookings/calculate-booking-fee/?room=2&days_booked=4"

        var bookedDays = 0
        var totalAmount = 0
        // Calculate the difference in milliseconds
        if (checkinDate && checkoutDate && roomsCount) {
          var differenceInMilliseconds = checkoutDate - checkinDate;
          // Convert the difference to days
          bookedDays = differenceInMilliseconds / (1000 * 60 * 60 * 24);
          totalAmount = bookedDays * chargePerNight * roomsCount

          const get_booking_fee = async () => {
            const response = await fetch(`/bookings/calculate-booking-fee/?room=${roomId}&days_booked=${bookedDays}`, {"method": "GET"})
            const data = await response.json()
            console.log(data)
          }

          get_booking_fee();

        }
        

        var bookingObj = {
          "bookedDays": bookedDays,
          "roomsCount": roomsCount,
          "totalAmount": totalAmount,
          "chargePerNight": chargePerNight,
          "checkinDate": checkinDate,
          "checkoutDate": checkoutDate
        }
    
        console.log(bookingObj)
        // Calculate the total amount
        //var totalAmount = (regularTickets * regularTicketPrice) + (vipTickets * vipTicketPrice)  + (vvipTickets * vvipTicketPrice);

        // Update the total amount display
        document.getElementById('totalAmount').innerText = totalAmount;
        document.getElementById('total_cost').value = totalAmount;
        document.getElementById('days_booked').value = bookedDays;
        */
    }

    // Set your ticket prices here
    //var regularTicketPrice = 50;
    //var vipTicketPrice = 100;
    //var vvipTicketPrice = 150;

</script>