<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB Booking</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>You have successfully booked an airbnb at {{property_name}}, for dates from {{date_from}} to {{date_to}}</p>
    <p>To make your payment online, <a href="{{payment_link}}">Click to Pay.</a></p>
    <p>Thank you again for choosing us as you booking partner, we hope to meet you again soon.</p>
    <br>
    <p>Regards,</p>
    <p>Wonder Wise Bookings</p>
</body>
</html>