<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Request!</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>You have successfully submitted a {{payment_type}} at WonderWise costing KES. {{amount}}.</p>
    <p>Please <a href="{{payment_link}}">Click Here to Pay</a>.</p>
    <p>Please make the payment within 5 minutes of receiving this email otherwise the booking will be cancelled!</p>
    
    <p>Regards,</p>
    <p>Wonder Wise Bookings</p>
</body>
</html>