<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Ticket Booking</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid black;
          text-align: left;
          padding: 8px;
        }

        td {
            font-weight: normal;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>You have successfully booked an event ticket for {{event_name}}, happening on {{event_date}} at {{event_location}}</p>
    <p>Your ticket number is: #{{ticket_number}}</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ticket No.</th>
                <th scope="col">Ticket Type/Class</th>
                <th scope="col">No. of People</th>
              </tr>
        </thead>
        <tbody>
            {% for component in components %}
            <tr>
                <th scope="row">{{component.id}}</th>
                <td>{{component.ticket.ticket_number}}-{{component.id}}</td>
                <td>{{component.ticket_type}}</td>
                <td>{{component.number_of_tickets}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if payment_status == "Paid" %}
    {% else %}
    <p>To make your payment online, <a href="{{payment_link}}">Click to Pay.</a></p>
    {% endif %}
    <p>Thank you again for choosing us as you booking partner, we hope to meet you again soon.</p>
    <br>
    <p>Regards,</p>
    <p>Wonder Wise Bookings</p>

</body>
</html>