{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Events</h3>
    </div>
    <div class="col">
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newEventModal">Add An Event</a>

    </div>
  
</div>
<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Owner</th>
              <th scope="col">Name</th>
              <th scope="col">Event Date</th>
              <th scope="col">Total Tickets</th>
              <th scope="col">Booked Tickets</th>
              <th scope="col">Pending Tickets</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for event in page_obj %}
            <tr>
              <td>{{event.id}}</td>
              <td>{{event.owner}}</td>
              <td>{{event.title}}</td>
              <td>{{event.event_date}}</td>
              <td>{{event.total_tickets}}</td>
              <td>{{event.booked_tickets}}</td>
              <td>{{event.pending_tickets}}</td>
            
              <td><a href="{% url 'event-details' event.id %}" class="btn btn-info btn-sm">
                <i class="bi bi-eye"></i>
              </a></td>
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editEventModal{{ event.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
              <td><a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteEventModal{{ event.id }}">
                <i class="bi bi-trash"></i>
              </a></td>
              
            </tr>
            
            {% include "events/edit_event.html" %}
            {% include "events/delete_event.html" %}

            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
        <div>
      </div>
{% endblock content %}