{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Events</h3>
    </div>
    <div class="col">
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newEventModal">Add An Event</a>

    </div>
  
</div>
<hr/>
      <div class="table-responsive small">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Owner</th>
              <th scope="col">Name</th>
              <th scope="col">Event Date</th>
              <th scope="col">Total Tickets</th>
              <th scope="col">Booked Tickets</th>
              <th scope="col">Pending Tickets</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td>{{event.id}}</td>
              <td>{{event.owner}}</td>
              <td>{{event.title}}</td>
              <td>{{event.event_date}}</td>
              <td>{{event.total_tickets}}</td>
              <td>{{event.booked_tickets}}</td>
              <td>{{event.pending_tickets}}</td>
              
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editEventModal{{ event.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
              <td><a class="btn btn-danger btn-sm">
                <i class="bi bi-trash"></i>
              </a></td>
              
            </tr>
            
   
            {% endfor %}

          </tbody>
        </table>
        <div>
      </div>
{% endblock content %}