{% extends "base.html" %}

{% block content %}
<div class="row">
    <h3>Event Tickets</h3>
</div>

<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Customer</th>
              <th scope="col">Event</th>
              <th scope="col">Ticket Type</th>
              <th scope="col">Amount Paid</th>
              <th scope="col">Payment Method</th>
              <th scope="col">Status</th>
              <th scope="col" colspan="4">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for event_ticket in page_obj %}
            <tr>
              <td>{{event_ticket.id}}</td>
              <td>{{event_ticket.user.name}}</td>
              <td>{{event_ticket.event}}</td>
              <td>{{event_ticket.ticket_type}}</td>
              <td>{{event_ticket.amount_paid}}</td>
              <td>{{event_ticket.payment_method}}</td>
              <td>{{event_ticket.ticket_status}}</td>

              {% if event_ticket.is_fully_paid == True %}
              <td></td>
              {% else %}
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#eventTicketPaymentModal{{event_ticket.id}}">
                Pay
              </a></td>
              {% endif %}
           
              <td><a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancelEventTicketModal{{ event_ticket.id }}">
                Cancel
              </a></td>
              <td><a href="{% url 'print-ticket' event_ticket.id %}" class="btn btn-info btn-sm">Print</a></td>
              <td><a href="{{event_ticket.payment_link}}" class="btn btn-warning btn-sm">
                Pay
              </a></td>
            </tr>
          
            {% include "events/ticket_payment_options.html" %}
            {% include "events/cancel_ticket.html" %}
          
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}